:root {
  color-scheme: light dark;
}

html {
  font-family: -apple-system, Roboto, Ubuntu, Tahoma, sans-serif;
  font-size: 1.25rem;
  padding: 2em;
  display: grid;
  justify-content: center;
}

body {
  width: 100%;
  max-width: 40em;
  margin: 0;
}
